
HomeAutomation/Readme.txt
HomeAutomation/Code/maincode.ino
HomeAutomation/BlynkDashBoard/WhatsApp Image 2024-06-20 at 11.41.26_4597a5f8.jpg
HomeAutomation/BlynkDashBoard/Screenshot 2024-06-20 114040.png
HomeAutomation/BlynkDashBoard/Screenshot 2024-06-20 114003.png
HomeAutomation/BlynkDashBoard/Screenshot 2024-06-20 114027.png
HomeAutomation/BlynkDashBoard/Screenshot 2024-06-20 114051.png
HomeAutomation/Readme.txt
